.pagination-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    .page-circle {
        width: 15px;
        margin: 5px;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
    }
    .active-page {
        color: #ffffff;
        background-color: #5D3FD3;
    }
}